.cardUnselected {
    width: 18rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.cardSelected {
    width: 18rem;
    border: 5px solid grey;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}